# Copy this file to `.env` and update values

host=database-somwhere.awslink,
port=5432,
database=db_name,
user=admin,
password=something_secure

# for ssl
sslmode=verify-full
sslrootcert=./global-bundle.pem