# Copy this file to `.env` and update values

# Database connection settings
DB_HOST=database-somwhere.awslink,
DB_PORT=5432,
DB_DATABASE=db_name,
DB_USERNAME=admin,
DB_PASSWORD=something_secure

# for ssl
DB_SSLMODE=verify-full
DB_SSLROOTCERT=/absolute/path/to/global-bundle.pem

# Application settings
ENVIRONMENT=development
PORT=3000